
.bar {
  margin-top: 30%;
  background-color: black;
}

.content-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.content-wrapper .item {
  width: 100px;
  height: 20px;
  background-color: grey;
  color: white;
  padding: 10px 20px;
  margin-right: 5px;
}

.content-wrapper .active {
  background: blue;
  transition: background;
}
